.cursor
{
  cursor:pointer;
}

.spacing-5{
    height: 5em;
}
.spacing-1
{
  height: 1em;
}
.spacing-2
{
  height: 2em;
}
.spacing-3
{
  height: 3em;
}
.spacing-4
{
  height: 4em;
}
.spacing-10
{
  height: 10em;
}
.spacing-11
{
  height: 11em;
}
.spacing-12
{
  height: 12em;
}
.spacing-9
{
  height: 9em;
}
.spacing-8
{
  height: 8em;
}
.spacing-7
{
  height: 7em;
}
.spacing-6
{
  height: 6em;
}