{% load static %}


  <div class="footer">
      <div class="inner-footer">
        <div class="footer-items footer-col-1">
          <h1 class="footer-h1">Software Freedom Law Center India</h1>
          <p>SFLC.IN is the first Indian legal services organization that works exclusively on technology, law, and policy. As a not-for-profit organization engaged in the empowerment of Indian citizens about their digital freedom and rights, it operates as a collective, bringing together different stakeholders to a common platform to further the cause of digital rights. SFLC.in promotes innovation and open access to knowledge by helping policy makers make informed and just decisions regarding the use and adoption of technology. As of 2020, SFLC.in is the only Indian organization to be inducted as a member of the IFEX, a global network to defend the right to freedom of expression and information.</p>
        </div>

        <div class="footer-items footer-col-2">
          <h2 class="footer-h2">GET IN TOUCH</h2>
          <div class="footer-border"></div>
          <ul class="footer-links">
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>2nd Floor, K-9
Birbal Road, Block K
Jangpura Extension, New Delhi
India - 110014</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>+91-11-43587126 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91-11-24323530 </li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i> mail@sflc.in</li>

              <li>For press inquiries, write to</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i> press@sflc.in</li>
          </ul>
        </div>

        <div class="footer-items footer-col-3">
          <h2 class="footer-h2">QUICK LINKS</h2>
           <div class="footer-border"></div>
           <ul class="footer-links">
             <a href="{% url 'about' %}"><li>About us</li></a>
             <a href="{% url 'policytracker' %}"><li>Policy Tracker</li></a>
             <a href="{% url 'litigation' %}"><li>Litigation</li></a>
             <a href="{% url 'caa-protest' %}"><li>CAA Protest</li></a>
             <a href="{% url 'jammu-kashmir' %}"><li>Jammu & Kashmir</li></a>
             <a href="https://sflc.in/donate" target="_blank"><li>Donate</li></a>
             <a href="{% url 'privacy-policy' %}" target="_blank"><li>Privacy policy</li></a>
           </ul>
        </div>

        <div class="footer-items footer-col-4">
          <h2 class="footer-h2">SOCIAL MEDIA</h2>
          <div class="footer-border"></div>
            <div class="spacing-1"></div>
          <div class="social-media">
            <a href="https://www.facebook.com/sflcin/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/sflcin" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/sflc_in/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/company/software-freedom-law-centre-india-sflc.in-/?originalSubdomain=in" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
            <div class="spacing-1"></div>
          <div class="footer-bottom">
            <h2>Content Policy</h2>
              <div class="footer-border"></div>
            <p>Unless otherwise indicated, this work by SFLC.in is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0) License.</p>
             <a href="https://creativecommons.org/licenses/" target="_blank"> <img src="{% static 'images/cc.png' %}"></a>
          </div>
        </div>

      </div>
    </div>