         <div class="spacing-7 dec-3"></div>
                <div class="seventh-container">
                    <div class="seventh-container-inner">
                        <div class="seventh-heading">Supporting Organizations</div>
                        <div class="seventh-partners">
                            <!-- <div class="seventh-partners-col"><img src="./assets/images/partners/logo1.png"></div>
                            <div class="seventh-partners-col"><img src="./assets/images/partners/logo2.png"></div>
                            <div class="seventh-partners-col"><img src="./assets/images/partners/logo3.png"></div>
                            <div class="seventh-partners-col"><img src="./assets/images/partners/logo4.png"></div> -->
                            <div class="partners-container">
                                <div class="partners-inner" id="partners-inner">
                                    <div class="partners-columns">
                                        <div onclick='window.open("https://www.defindia.org/", "_blank");' class="partners-image"
                                             style="background-image: url('https://cdn.sflc.in/map-design/assets/images/partners/logo1.png');"></div>
                                    </div>
                                    <div class="partners-columns">
                                        <div onclick='window.open("https://internetdemocracy.in/", "_blank");' class="partners-image"
                                             style="background-image: url('https://cdn.sflc.in/map-design/assets/images/partners/logo2.png');"></div>
                                    </div>
                                    <div class="partners-columns">
                                        <div onclick='window.open("https://itforchange.net/", "_blank");' class="partners-image"
                                             style="background-image: url('https://cdn.sflc.in/map-design/assets/images/partners/logo3.png');"></div>
                                    </div>
                                    <div class="partners-columns">
                                        <div onclick='window.open("https://sflc.in/", "_blank");' class="partners-image"
                                             style="background-image: url('https://cdn.sflc.in/map-design/assets/images/partners/logo4.png');"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacing-7 dec-3"></div>
                <div class="initiative-col">
                    <div class="initiative-heading">An Initiative of SFLC.in</div>
                    <div class="initiative-detail">
                        SFLC.IN is a donor supported legal services organisation that brings together lawyers, policy
                        analysts,
                        technologists, and students to protect freedom
                        in the digital world. SFLC.IN promotes innovation and open access to knowledge by helping
                        developers
                        make great Free and Open Source Software,
                        protect privacy and civil liberties for citizens in the digital world by educating and providing
                        free
                        legal advice and help policy makers make informed
                        and just decisions with the use and adoption of technology. SFLC.IN is a society registered
                        under
                        the
                        Societies Registration Act, 1860, operating
                        all over India.

                    </div>
                </div>